/* ====================================================== */
/* Page Layout */
/* ====================================================== */

body {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana, arial, sans-serif;
    font-size: 0.85em;
    line-height: 1.5;
    background: #747474;
    background-repeat: repeat-y;
}

a:link,
a:visited,
a:active {
    color: #A58158;
    font-weight: normal;
    text-decoration: none;
}
a:hover {
    color: #D7CF88;
    font-weight: normal;
    text-decoration: none
}


#container {
    margin-left: auto;
    margin-right: auto;    
    padding: 0;
    width: 90%;
    text-align: left;
    border: 1px solid black;
    background: #ffffff;
}

#header {
    box-sizing: border-box;
    background: #d5c397;
    padding: 1em;
    text-align: left;
    width: 100%;
    margin: 0px;
}

h1.blogtitle {
    margin: 0;
    letter-spacing: -1px;
    line-height: 1.0em;
    font-size: 48pt;
    font-family: trebuchet ms, verdana, arial;
    font-smooth: always;
}

#content {
    padding: 1em;
    font-family: 'Pontano Sans', Verdana, Helvetica, sans-serif;
    font-size: 11pt;
    width: 80%;
    margin: 0px;
    background: #ffffff;
}

/* ====================================================== */
/* Post Settings */
/* ====================================================== */

.post {
    //border: 1px solid black;
    padding: 10px;
}

.post-headline {
    font-size: 14pt;
}

.post-byline {
    font-size: 8pt;
    padding-bottom: 10px;
}
